{% extends 'base.html' %}

{% block Content %}

<h1>Weather Data</h1>
<br/>

<!-- {{ api }} <br/> -->
Location : {{ api.resolvedAddress }} <br/>
<!-- Description : {{ api.description }} -->
Day : {{ api.days.0.datetime }} <br/>
Min Temp : {{ api.days.0.tempmin }} <br/>
Max Temp : {{ api.days.0.tempmax }} <br/>
Visibility : {{ api.days.0.visibility }} <br/>
Cloud Cover : {{ api.days.0.cloudcover }} <br/>
Description : {{ api.days.0.description }} <br/>
<!-- Icon : {{ api.days.0.icon }} <br/> -->



{% endblock %}
